.m-t-10,
.page-loader-wrapper p,
.weather3 .top .wrapper .temp .deg,
.member-card .social-links {
    margin-top: 10px
}

.page-loader-wrapper {
    pointer-events: none;
    text-align: center
}

.page-loader-wrapper {
    display: none;
    background: linear-gradient( 180deg, #449cff 10%, #3157ca 100%);
    /* background: #449cff; */
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.page-loader-wrapper p {
    color: #fff
}

.page-loader-wrapper .loader {
    position: relative;
    top: calc(47% - 30px)
}

.page-loader-wrapper .waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
}